body{
	background-color: #F0E7E5;
	margin: 0;
}

h1{
	margin: 0;
}
header{
	background-color: black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
}
.nav{
   display: flex;
   padding: 12px 10px;

}
.inicio{
height: inherit;
width: 100%;
padding: inherit;
}

.inicio a{
	height: inherit;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding:inherit;
}


.tipos{
	width: 100%;
	margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: space-around;
	
}


.Segundo{
	color: white;
	text-decoration: none;
	font-family: 'Yellowtail', cursive;
	font-size: 40px;
	margin-left: 10px;
}
.portada img{
	width: 100%;
	margin: 0;
}


.NA{
	color: white;
	background: black;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
.NA a{
    display: block;
	padding: 20px 10px 20px 10px;
	text-decoration: none;
	color: white;

}

.ropa:hover {
	background-color: lightgray;
	color: black;
}
h2{
	font-size: 30px;
}

.imagen img{
	width: 240px;
	height: 240px;
	display: block;
}
.precio {
	text-align: center;
	font-size: 22px;
	font-family: Arial;
	background-color: white;
	margin-top: 2px;
	width: 240px;
}
.caja1{
	width: 100%;
	text-align: center;
	display: flex;
}
.caja2{
	margin: 5px;
	padding-top: 0;
	left: 20px;
	vertical-align: text-top;

	
}
.caja2 a{
	display: block;
	text-decoration: none;
	color: black;
}

.viejo{
	color: #9C9C9C;
	font-size: 15px;
  opacity: 0;
  transition-duration: 0.4s;
}
  .oferta{
  	color: green;
  	margin-left: 10px;
  	font-size: 13px;
  	
  }
.descripcion{
	height: 25px;
	font-size: 15px;
	color: #9C9C9C;
	opacity: 0;
	transition-duration: 0.4s;
}
.caja2 a:hover .descripcion {
opacity: 1;
display: block;
margin-top: 5px;
margin-bottom: 10px;
padding: 15px;

}
.caja2 a:hover .viejo {
opacity: 1;
margin: 0px;
padding: 0;
}

section{
	margin: 60px 20px;
	height: 420px;
}

.Contacto{
	margin: 0;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	line-height: 10px;
}
.Contacto div{
	display: flex;
	justify-content: space-between;
}
.llamar{
	flex-direction: column;
	margin-left: 20px;
	
}
.llamar p{
	margin-top: 12px;
	margin-bottom: 12px;
}

.social{
    margin-left: 50px;
    height: 50px;
    align-self: center;
}
.social-link{
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: 50px 50px;
	border: 2px solid white;
	border-radius: 10px;
	margin-right: 10px;
	
}
#twitter{
	background-image: url(../platzi/twitter.JPG);
}
#facebook{
	background-image: url(../platzi/facebook.PNG);
}
#go{
	background-image: url(../platzi/favi2.PNG)
}
.bajo{
	font-size: 15px;
	color: lightgray;
	margin-bottom: 0px;
	margin-left: 20px;
}

@media screen and (max-width: 1024px){
	body{
		
	}
}


@media screen and (max-width: 765px){
	header{
		
		height: 80px;
		width: 100%;
	}
	.imagen img{
	width: 180px;
	height: 180px;
	display: block;
    }
    .caja1{
    	flex-direction: column;
    	align-items: center;

    } 
    .caja2 a{
    	display: flex;
    }
    .precio{
    	width: 22em;

    }
	.nav{
		padding: auto 0px;
		width: 40%;
		justify-content: center;
	}
	section{
		height: 100%;
	}
	.ropa{
		font-size: 15px;
	}
	
	.viejo{
		opacity: 1;
		color: green;
	}
	.descripcion{
		opacity: 1;
		order: -1;
		color: black;
		font-size: 20px;
	}
	

}

@media screen and (max-width: 480px){
	header{
		width: 100%;
	}
	.Contacto{
		font-size: 15px;
		line-height: 6px;
	}
	.llamar p{
		line-height: 20px;
	}
	.social-link{
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	}
	
}

@media screen and (max-width: 380px){
	
}